* {margin: 0;
padding: 0;
box-sizing: border-box;}

main {
    max-width: 400px;
}
nav {background-color: #eee;
padding: 1rem;}

nav a {color: black;
padding: 1rem;
display: block;
}
aside {
    width: 20rem;
    text-align: center;
    position: relative;
}

aside img {width: 200px;
height: auto;}

aside h2 {position: absolute;
top: 47px;
right: 150px}

main img {width: 150px;
height: auto;
border: 1px solid rgb(0 0 0 / 0.2);
padding: 1rem;
box-shadow: 1px 1px 5px;
float: right;
}
p {padding: 0;}

footer {margin-top: 1rem;
border-top: 1px solid black;
text-align: center;}
h1 {color: black;}

/* class Selectors */

.box {margin: 1rem;
padding: 1rem;
background-color: #eee;}
