main {
    max-width: 400px;

}

nav {background-color: #eee;
padding: 1rem;}

nav a {color: black;
padding: 1rem;
display: block;
}

aside {
    width: 20rem;
    margin: 0;
    padding: 1rem;
    border: 1px solid rgb(0 0 0 / 0.2);
    background-color: #eee;
    color: #333;
    text-align: center;

}

aside img {width: 200px;
height: auto;}

main img {width: 150px;
height: auto;
border: 1px solid rgb(0 0 0 / 0.2);
padding: 1rem;
}

p {padding: 0;}

footer {margin-top: 1rem;
border-top: 1px solid black;
text-align: center;}