.callout {max-width: max-content;
    margin: 10px;
    border: 1px solid white;
    padding: 15px;
    background-color: rgb(46, 46, 105);
    color: white
	
}

.callout img {position: float;
    float: right;
    margin: 0 0 10px 10px;
    border: 1px solid white;
    padding: 3px;
    background-color: orange;
    width: 100px;
    height: 100px;
    

	
}

blockquote {margin: 0
	
}

cite {
	display: block;
    border-top: 1px dotted white;
    padding-top: 3px;
    text-align: right;
    font-size: 12px;
}