body{font-family: arial, san-serif}

header, footer {
width: 800px;
margin: 0 auto;
background-color: grey;
color: white;
text-align: center;
padding: 10px;
font-size: 1.4rem;
}

h1 {text-align: center;
font-size: 24px;
}

main {
    width: 400px;
    margin: 0 auto
}

img {
    width: 100%;
    height: auto;
    box-shadow: 0 0 30px;
}

section {
    background-color:   whitesmoke;
    padding: 15px 25px;
    margin: 25px 0

}

h2 {
    font-size: 1rem;
    text-align: left;
    margin: 5px;
    padding: 8px;
    border-bottom: 1px solid black;
}

section p {margin-left: 5px}

footer {
    font-size: 1rem
}